<?xml version="1.0" encoding="utf-8"?>
<rrconfig>
  <rules project="RR.Core">
    <nolocalrefs/>
    <exclude>EntityFramework</exclude>
    <exclude>EntityFramework.SqlServer</exclude>
  </rules>
  
  <rules project="RR.Data">
    <onlylocalrefs>
      <project>RR.Core</project>
    </onlylocalrefs>
    
    <include>EntityFramework</include>
    <include>EntityFramework.SqlServer</include>
  </rules>

  <rules project="RR.Service">
    <onlylocalrefs>
      <project>RR.Core</project>
    </onlylocalrefs>

    <exclude>EntityFramework</exclude>
    <exclude>EntityFramework.SqlServer</exclude>
  </rules>
  
  <rules project="RR.Installer">
    <onlylocalrefs>
      <project>RR.Core</project>
      <project>RR.Data</project>
      <project>RR.HardwareManager</project>
      <project>RR.Service</project>
    </onlylocalrefs>
  </rules>

  <rules project="RR.HardwareManager">
    <onlylocalrefs>
      <project>RR.HardwareDriver</project>
    </onlylocalrefs>

    <exclude>EntityFramework</exclude>
    <exclude>EntityFramework.SqlServer</exclude>
  </rules>
  
  <rules project="RR.HardwareDriver">
    <nolocalrefs/>
  </rules>

  <rules project="RR.WebServer">
    <onlylocalrefs>
      <project>RR.Core</project>
      <project>RR.Installer</project>
    </onlylocalrefs>
  </rules>
</rrconfig>