<?xml version="1.0" encoding="utf-8"?>
<rrconfig>
  <rules project="RR.Core">
    <norefs/>
    <exclude>EntityFramework</exclude>
    <exclude>EntityFramework.SqlServer</exclude>
  </rules>
  
  <rules project="RR.Data">
    <include>RR.Core</include>
    <include>EntityFramework</include>
    <include>EntityFramework.SqlServer</include>
  </rules>
  
  <rules project="RR.Installer">
    <include>RR.Core</include>
    <include>RR.Data</include>
    <include>RR.HardwareManager</include>
    <include>RR.Service</include>
  </rules>
  <rules project="RR.WebServer">
    <include>RR.Core</include>
    <exclude>RR.Data</exclude>
  </rules>
  <rules project="RR.HardwareDriver">
    <norefs/>
  </rules>
</rrconfig>